<h1><%= @survey.name %></h1>



  <%= link_to "Edit", edit_survey_path(@survey) %>
  <%= link_to "Delete", survey_path(@survey),
                        :data => {:confirm => "You sure?",
                                  :method => "delete"} %>

<% if @survey.questions.any? %>
  <h4>Here are the questions for this quiz:</h4>

  <ul>
    <% @survey.questions.each do |question| %>
      <li><%= question.content %> | </li>

      <% question.choices.each do |choice| %>
        <li> <%= choice.content %> </li>
        <% end %>

        <li><%= link_to "Add a Choice!", new_question_choices_path(question) %></li>

    <% end %>
  </ul>
<% else %>
  There are no questions!!!!!!!!!
<% end %>

<p><%= link_to "Add a Question", new_survey_question_path(@survey) %></p>
<!-- <p><%= link_to "Delete Question", survey_path(@survey),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p> -->

<p><%= link_to "Return to Surveys", surveys_path %></p>
